//? --------------------------- TAB start ---------------------------- //
//* активному табу добавляем класс '_active'

.tabs {
	&__nav {
		display: flex;
		margin: 0 -2px;
	}

	&__item {
		flex: 0 1 33.333%;
		margin: 0 2px;
		background-color: #7a956b;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: #fff;
		font-weight: 700;

		&._active {
			background-color: #77608d;
		}
	}

	&__body {
		padding-top: 20px;
	}

	&__block {
	}
}

//* Технические классы
._tabs {	
}

._tabs-item {
}

._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//? --------------------------- TAB media ---------------------------- //
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//?---------------------------- TAB end -------------------------------//