@import "_mixins";
@import "_fonts";
@import "_reset";
@import "_global";

//* иконочный шрифт
@import "../iconsfont/fontawesome.scss";
@import "../iconsfont/solid.scss";
@import "../iconsfont/brands.scss";
@import "../iconsfont/regular.scss";
@import "../iconsfont/v4-shims.scss";

// @import "_popup";
@import "_tab";
@import "_spoiler";
@import "_header";


//--------------------------- templates start ------------------------------//
.templates {

	&__inner {
		
	}

	&__item {
		background-color: #ccc;
		border-radius: 10px;
		margin: 20px 0;
		padding: 0px 20px;
	}

	&__title {
		padding: 20px 0;
		font-size: 22px;
		font-weight: 700;
		color: #0000ff;
		position: relative;
		cursor: pointer;
		
		&._active {
			border-bottom: 1px solid #0000ff;
		}
		
		&::after,
		&::before {
			content: '';
			width: 20px;
			height: 3px;
			background-color: #0000ff;;
			position: absolute;
			top: 50%;
			transition: all .3s;
		}

		&::after {
			transform: rotate(-45deg);
			right: 0px;
		}

		&._active::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(45deg);
			right: 13px;
		}

		&._active::before {
			transform: rotate(-45deg);
		}
	}

	&__body	{
		padding: 30px 0px 30px 0px;
	}
	
}
//--------------------------- templates media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- templates end -------------------------------//



//--------------------------- buttons start ------------------------------//
.buttons {

	&__item	{
		max-width: 200px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__btn {
		width: 100%;
		min-width: 200px;
		min-height: 60px;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 20px;
		transition: all .3s;
	}

	&__link {
		color: #000;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			font-weight: 700;
		}
	}

	&__btn-1 {
		text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
		background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  	box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  	color: rgb(0,79,86);
  	user-select: none;

		&:hover {
			color: #fff;
		}

		&:active {
			padding-bottom: 1px;
			box-shadow:
			 	inset rgba(0,0,0,1) 0 1px 3px,
			 	inset rgba(0,0,0,.6) 0 -2px 5px,
			 	inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
			color: rgb(128,207,214);	
		}
	}

	&__btn-2 {
		color: #ccc;
		background-color: #000;
		background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
		background-repeat: no-repeat;
		background-size: 200% 100%, auto;
		background-position: 200% 0, 0 0;
		box-shadow: rgba(0,0,0,.3) 0 2px 5px;

		&:hover {
			transition: .5s linear;
  		background-position: -200% 0, 0 0;
		}

		&:active {
  		box-shadow: none;
		}
	}

	&__btn-3 {
		border-radius: 3px / 100%;
		background-color: #000;
		color: #fff;
		background-image:
		 	linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
		 	linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
		 	linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
		 	linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
		 	linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
		 	linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
		background-repeat: no-repeat;
		background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
		background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
		box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;

		&:hover {
			transition: .5s linear;
			background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
		}

		&:active {
			transform: scale(.9);
		}
	}

	&__btn-4 {
		color: #fff;
		border-radius: 2px;
		background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
		background-size: 100% 100%, auto;
		background-position: 50% 50%;
		box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
		transition: 0.2s;

		&:hover {
			background-size: 140% 100%, auto;
		}

		&:active {
			color: #ffdead;
			box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
		}
	}

	&__btn-5 {
		color: #fff;
		background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
		box-shadow:
		 0 6px rgb(86,38,6),
		 0 3px 15px rgba(0,0,0,.4),
		 inset 0 1px rgba(255,255,255,.3),
		 inset 0 0 3px rgba(255,255,255,.5);

		&:hover {
			background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
		}

		&:active {
			background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
			box-shadow:
			 0 2px rgb(86,38,6),
			 0 1px 6px rgba(0,0,0,.4),
			 inset 0 1px rgba(255,255,255,.3),
			 inset 0 0 3px rgba(255,255,255,.5);
			-webkit-transform: translate(0, 4px);
			transform: translate(0, 4px);
		}
	}

	&__btn-6 {
  	transition: .5s ease-in-out;
		position: relative;
		background-color: #4F95DA;
		border-radius: 2px;
		color: #fff;

		& svg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #fff;
			stroke-dasharray: 150 480;
			stroke-dashoffset: 150;
			transition: 1.2s ease-in-out;
		}

		&:hover svg {
			stroke-dashoffset: -480;
		}
	}

	&__btn-7 {
		border-radius: 3px;
		background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
		box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
		animation: pulsate 1.2s linear infinite;

		&:hover {
			animation-play-state: paused;
		}

		&:active {
			top: 1px;
			color: #fff;
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
			box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
		}

		@keyframes pulsate {
			50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
		}
	}

	&__btn-8 {
		position: relative;
		display: inline-block;
		color: hsl(88, 70%, 30%);
		text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,.2) 0 .18em .15em;
		user-select: none;
		border-radius: 8px;
		border-top: 1px solid rgba(255,255,255,.1);
		border-bottom: 1px solid rgba(0,0,0,.1);
		background: #a2cf70 radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.5));
		box-shadow:
		 inset rgba(255,255,255,.6) 0 .3em .3em,
		 inset rgba(0,0,0,.2) 0 -.1em .3em,
		 rgb(128,161,103) 0 7px 1px,
		 rgba(0,0,0,.2) 0 .5em 5px;
		transition: background .2s ease-in-out;

		&::after {
			content:  "";
			position:  absolute; 
			width:   90%;
			height:  60%;
			top:   0;
			left:   5%;    
			border-radius:    .5em .5em 1em 1em / .5em .5em 2em 2em;
			background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.3)); 
		}

		&:hover {
			background-color: hsl(88, 70%, 75%);
		}

		&:active {
			top: .2em;
			color: rgba(254,255,255,.9);
			text-shadow: rgba(0,0,0,.2) 0 1px 2px;
			box-shadow:
			 	inset rgba(255,255,255,.6) 0 .3em .3em,
			 	inset rgba(0,0,0,.2) 0 -.1em .3em,
			 	rgba(0,0,0,.4) 0 .1em 1px,
			 	rgba(0,0,0,.3) 0 .2em 6px;
		}

		&:active::after {
			opacity: .6;
		}
	}

	&__btn-9 {
		display: inline-block;
		color: rgba(255,255,255,.6);
		text-shadow: 1px 1px rgba(0,0,0,.3);
		border-radius: 15px;
		background: rgb(10,120,10);
		box-shadow:
		 	inset 0 0 3px 1px rgba(0,0,0,.8),
		 	inset rgba(0,0,0,.3) -5px -5px 8px 5px,
		 	inset rgba(255,255,255,.5) 5px 5px 8px 5px,
		 		1px 1px 1px rgba(255,255,255,.1),
		 		-2px -2px 5px rgba(0,0,0,.5);

		&:hover {
			color: rgba(255,255,255,.9);
			background: rgb(20,130,20);
		}

		&:active {
			background: rgb(0,110,0);
			box-shadow:
			 	inset 0 0 5px 3px rgba(0,0,0,.8),
			 	inset rgba(0,0,0,.3) -5px -5px 8px 5px,
			 	inset rgba(255,255,255,.5) 5px 5px 8px 5px,
			 		1px 1px 1px rgba(255,255,255,.2),
			 		-2px -2px 5px rgba(0,0,0,.5);
		}
	}

	&__btn-10 {
		border: 1px solid rgba(62,153,239,.5);
		background: linear-gradient(to left, rgb(62,153,239) 1%, #fff 3%, rgb(44,135,232) 8%, rgba(255,255,255,.3) 50%, rgb(44,135,232) 92%, #fff 97%, rgb(62,153,239) 99%) no-repeat;

		&:hover {
			transform: scale(1.1, 1.1);
		}

		&:focus,
		&:active {
			transform: scale(2, 2);
			opacity: 0;
			visibility: hidden;
		}
	}

	&__btn-11 {
		color: #fff;
		background: linear-gradient(90deg, rgba(179, 139, 255,1) 0%, rgba(75,0,130,1) 100%);
		box-shadow: 12px 12px 24px rgba(207,177,255,.64);
		padding: 10px;
		border-radius: 1000px;
		position: relative;

		&::before {
			content: '';
  		border-radius: 1000px;
			width: 230px;
			height: 88px;
  		border: 6px solid #b38bff;
  		box-shadow: 0 0 60px rgba(146,101,255,.64);
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		opacity: 0;
  		transition: all .3s ease-in-out 0s;
		}
		
		&::after {
			content: '';
			width: 30px; 
			height: 30px;
			border-radius: 100%;
			border: 6px solid #cfb1ff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: ring 1.5s infinite;
		}

		&:hover,
		&:focus {
			transform: translateY(-6px);
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			animation: none;
			display: none;
		}

		@keyframes ring {
			0% {
				width: 30px;
				height: 30px;
				opacity: 1;
			}
			100% {
				width: 250px;
				height: 250px;
				opacity: 0;
			}
		}
	}

	&__btn-12 {
		opacity: 1;
		color: #fff;
		position: relative;
		text-align: center;
		display: inline-block;

		&:after{
			content: attr(data-back);
			top: 0;
			left: 0;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			color: #323237;
			transition: .5s;
			position: absolute;
			background: #adadaf;
			transform: translateY(-50%) rotateX(90deg);
		}
		
		&:before{
			content: attr(data-front);
			top: 0;
			left: 0;
			opacity: 1;
			color: #adadaf;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			transition: .5s;
			position: relative;
			background: #323237;
			transform: translateY(0) rotateX(0);
		}

		&:hover::after {
			opacity: 1;
      transform: translateY(0) rotateX(0);
		}

		&:hover::before {
			opacity: 0;
      transform: translateY(50%) rotateX(90deg);
		}
	}

	&__btn-13 {
		

		&:hover {
			
		}
	}

	&__btn-14 {
		

		&:hover {
			
		}
	}

	&__btn-15 {
		

		&:hover {
			
		}
	}

	&__btn-16 {
		

		&:hover {
			
		}
	}

	&__btn-17 {
		

		&:hover {
			
		}
	}

}

.buttons-tabs {

	&__nav {
		display: flex;
		margin-bottom: 50px;
		flex-wrap: wrap;
		justify-content: center;
		gap: 4px;
	}

	&__item {
		color: #000;
		opacity: .3;
		padding: 15px 30px;
		font-size: 18px;
		font-weight: 700;
		transition: all .3s;
		box-shadow: inset 0px 0px 6px 1px #000;
		border-radius: 4px;
		user-select: none;

		&._active {
			opacity: 1;
		}
	}

	&__block {

		&--one._active {
			display: flex;
			gap: 30px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}


//--------------------------- buttons media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- buttons end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//



//--------------------------- start ------------------------------//

//--------------------------- media -----------------------------//
@media (max-width: $md1) {

}

@media (max-width: $md2) {

}

@media (max-width: $md3) {

}

@media (max-width: $md4) {
	
}
//---------------------------- end -------------------------------//




@import "_footer";


